/*Kevin Lien*/
.border {
    border: solid 3px red;
}

#strikes {
    background-color: lightpink;
    border: solid 2px;
}

#life {
    color: red;
    font-size: 60px;
}

#countdown {
    background-color: lightgreen;
    border: solid 2px;
}

#time, #score, #lifeHeader{
    text-align: center;
}

#currentScore {
    background-color: lavenderblush;
    border: solid 2px;
}

/* Courtesy of jQuery Flip from https://nnattawat.github.io/flip/ */
.card-grid {
    width: 110px;
    height: 110px;
    margin: 1px;
    display: inline-block;
}
/* Courtesy of jQuery Flip from https://nnattawat.github.io/flip/ */
.card-grid .front, .card-grid .back {
    padding: 10px;
    text-align: center;
    border: 1px #333 solid;
}
/* Courtesy of jQuery Flip from https://nnattawat.github.io/flip/ */
.card-grid .front {
    background-color: #eee;
}
/* Courtesy of jQuery Flip from https://nnattawat.github.io/flip/ */
.card-grid .back {
    background-color: #333;
    color: white;
}