/*Kevin Lien*/
.charmander {
    background: url("../image/charmander.png") no-repeat;
    background-size: 85%;
    background-position-x: 50%;
    background-position-y: 50%;
}

.squirtle {
    background: url("../image/squirtle.png") no-repeat;
    background-size: 100%;
    background-position-x: 80%;
    background-position-y: 50%;
}

.bulbasaur {
    background: url("../image/bulbasaur-transparent.png") no-repeat;
    background-size: 90%;
    background-position-y: 80%;
}

.pikachu {
    background: url("../image/pikachu.png") no-repeat;
    background-size: 100%;
    background-position-y: 50%;
}
.mew {
    background: url("../image/mew-transparent.png") no-repeat;
    background-size: 100%;
}

.eevee {
    background: url("../image/eevee.png") no-repeat;
    background-size: 100%;
    background-position-y: 50%;
}

.dratini {
    background: url("../image/dratini.png") no-repeat;
    background-size: 75%;
    background-position-x: 50%;
}

.cubone {
    background: url("../image/cubone.png") no-repeat;
    background-size: 75%;
    background-position-x: 50%;
    background-position-y: 50%;
}

.articuno {
    background: url("../image/articuno.png") no-repeat;
    background-size: 75%;
    background-position-x: 50%;
    background-position-y: 50%;
}

.zapdos {
    background: url("../image/zapdos.png") no-repeat;
    background-size: 105%;
    background-position-x: 50%;
    background-position-y: 50%;
}

.moltres {
    background: url("../image/moltres-2.png") no-repeat;
    background-size: 100%;
    background-position-y: 50%;
}

.sandshrew {
    background: url("../image/sandshrew.png") no-repeat;
    background-size: 80%;
    background-position-x: 50%;
    background-position-y: 50%;
}

.ponyta {
    background: url("../image/ponyta.png") no-repeat;
    background-size: 96%;
}

.snorlax {
    background: url("../image/snorlax.png") no-repeat;
    background-size: 100%;
    background-position-y: 50%;
}

.pokeball {
    background: url("../image/pokeball.png") no-repeat;
    background-size: 100%;
    background-position-x: 50%;
    background-position-y: 50%;
}

.border {
    border: dashed 2px red;
}

#strikes {
    background-color: lightpink;
    border: solid 2px;
}

#life {
    color: red;
    font-size: 60px;
}

/* Courtesy of jQuery Flip from https://nnattawat.github.io/flip/ */
.card-grid {
    width: 110px;
    height: 110px;
    margin: 1px;
    display: inline-block;
}
/* Courtesy of jQuery Flip from https://nnattawat.github.io/flip/ */
.card-grid .front, .card-grid .back {
    padding: 10px;
    text-align: center;
    border: 1px #333 solid;
}
/* Courtesy of jQuery Flip from https://nnattawat.github.io/flip/ */
.card-grid .front {
    background-color: #eee;
}
/* Courtesy of jQuery Flip from https://nnattawat.github.io/flip/ */
.card-grid .back {
    background-color: #333;
    color: white;
}