/*Kevin Lien*/
.indent {
    padding-left: 1em;
}

#rules {
    font-family: 'Lora', serif;
    font-size: x-large;
    background-color: lightsteelblue;
    border: 2px solid;
}

.lora {
    font-family: 'Lora', serif;
}

.text {
    font-family: 'Bungee', cursive;
}

.header {
    background-color: black;
    color:white;
}

body {
    background-color: lightblue;
}
