/*Kevin Lien*/
.source-card {
    width: 120px;
    height: 120px;
    display: inline-block;
}

.source-card .front, .source-card .back {
    background-color: white;
    border: 3px solid black;
}

.source-card .back a {
    font-family: 'Bungee', cursive;
}

#image-source {
    border: solid 2px;
    background-color: lightsteelblue;
    float: left;
    margin-left: 1em;
    padding-bottom: 1em;
}

#resultsLeftSide {
    float: left;
    width: 40%;
}

#finalResults {
    border: 2px solid black;
    background-color: lightgreen;
    padding-left: 1em;
}

#goToRules, #playAgain {
    border: 4px solid black;
    color: black;
    font-size: xx-large;
    margin-left: 3em;
}

#playAgain {
    margin-top: 2em;
}

#buttons {
    margin-top: 4em;
}